
body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Megrim', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}
    body.stop-scrolling {
        height: 100vh;
        overflow: hidden;
    }

.titleBlock {
    margin: 0;
    width: 100%;
    background-color: rgba(152, 170, 169, .3);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    text-align: center;
}

.squares_container {
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-30%);
}

.square {
    width: 29%;
    height: 29%;
    background-size: cover;
    float: left;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .7);
}
    #sqOne,
    #sqFour,
    #sqSeven {
        margin-left: 0;
    }
    #sqThree,
    #sqSix,
    #sqNine {
        margin-right: 0;
    }

.circle {
    -webkit-animation: simbolsFadeIn .5s;
    background-image: url('images/circle.png');
}

.cross {
    -webkit-animation: simbolsFadeIn .5s;
    background-image: url('images/cross.png');
}

@-webkit-keyframes simbolsFadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: .2;
    }
    40% {
        opacity: .4;
    }
    60% {
        opacity: .6;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 50px;
    }
    .square {
        width: 28%;
        height: 28%;
    }
}