
body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Megrim', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

.titleBlock {
    margin: 0;
    width: 100%;
    background-color: rgba(152, 170, 169, .3);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
}

.squares {
    width: 600px;
    height: 600px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.square {
    width: 30.333%;
    height: 30.333%;
    background-size: cover;
    float: left;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .7);
}

.circle {
    -webkit-animation: simbolsFadeIn 1s;
    background-image: url('images/circle.png');
}

.cross {
    -webkit-animation: simbolsFadeIn 1s;
    background-image: url('images/cross.png');
}

@-webkit-keyframes simbolsFadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: .2;
    }
    40% {
        opacity: .4;
    }
    60% {
        opacity: .6;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}
